.techs :where(img, svg) {
  margin: auto;
}

.techs div div {
  width: 90px;
  height: 90px;
  border: 2px solid white;
  border-radius: 10px;
  place-content: center;
}

.techs div {
  font-size: 1.1rem;
  text-align: center;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.techs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}